.searchBox {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 3px 3px rgba(100, 100, 100, .1);
  display: flex;
  left: 1rem;
  max-width: 660px;
  padding: 10px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1000;
}

.search {
  border: 1px solid #a7afbb;
  box-sizing: content-box;
  padding: 10px;
  width: 100%;
}

::placeholder {
  color: #a7afbb;
}

.control {
  background: transparent;
  border: 1px solid #a7afbb;
  height: 100%;
  padding: 10px;
  width: 100%;
}
