.btn {
  background: #33b4c0;
  border: 1px solid #288e98;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.btn:hover {
  background: #43c4d0;
}
