.grid {
  display: flex;
}

.col {
  box-sizing: border-box;
  flex: 1 100%;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
}

.col:first-child {
  padding-left: 0;
}

.col:last-child {
  padding-right: 0;
}

.col-1 { flex: 1 calc(100% / 12 * 1); width: calc((100% / 12 * 1) - 10px); }
.col-2 { flex: 1 calc(100% / 12 * 2); width: calc((100% / 12 * 2) - 10px); }
.col-3 { flex: 1 calc(100% / 12 * 3); width: calc((100% / 12 * 3) - 10px); }
.col-4 { flex: 1 calc(100% / 12 * 4); width: calc((100% / 12 * 4) - 10px); }
.col-5 { flex: 1 calc(100% / 12 * 5); width: calc((100% / 12 * 5) - 10px); }
.col-6 { flex: 1 calc(100% / 12 * 6); width: calc((100% / 12 * 6) - 10px); }
.col-7 { flex: 1 calc(100% / 12 * 7); width: calc((100% / 12 * 7) - 10px); }
.col-8 { flex: 1 calc(100% / 12 * 8); width: calc((100% / 12 * 8) - 10px); }
.col-9 { flex: 1 calc(100% / 12 * 9); width: calc((100% / 12 * 9) - 10px); }
.col-10 { flex: 1 calc(100% / 12 * 10); width: calc((100% / 12 * 10) - 10px); }
.col-11 { flex: 1 calc(100% / 12 * 11); width: calc((100% / 12 * 11) - 10px); }
.col-12 { flex: 1 calc(100% / 12 * 12); width: calc((100% / 12 * 12) - 10px); }
