.root {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
}

.input {
  background: #fff;
  border: 1px solid #a7afbb;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  color: #a7afbb;
}

.selected {
  color: #000;
}

.inputText {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  text-overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
}

.arrow {
  position: absolute;
  right: 10px;
  top: calc(50% - 3px);
}

.options {
  position: absolute;
  top: calc(100% + 13px);
  min-width: 100%;
  box-shadow: 0 4px 6px 0 rgba(120, 120, 120, .8);
  box-sizing: border-box;
  z-index: 1001;
}

.optionItem {
  display: block;
  background: #fff;
  width: 100%;
}

.optionItem button {
  cursor: pointer;
  display: block;
  background: inherit;
  min-height: 2.5rem;
  min-width: 100%;
  border: 0;
  text-align: left;
  outline: 0;
  padding: .8rem;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}

.optionItem button:hover {
  background: #f5f5f5;
}

.optionItemSelected {
  color: #45bbc6;
}