.backdrop {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}

.wrapper {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10000;
}

.niceAlert {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .5);
  margin-top: -10%;
  max-width: 600px;
  overflow: hidden;
  width: 60%;
}

.title {
  background: #eee;
  background: #fff;
  border-bottom: 1px solid #eee;
  color: #333;
  display: flex;
  padding: .5rem;
  text-shadow: -2px -2px 2px #ccc;
}

.titleContent {
  flex-grow: 2;
}

.close {
  align-self: flex-start;
  background: transparent;
  border: 0;
  cursor: pointer;
  flex-grow: 0;
  height: 20px;
  justify-content: space-between;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.content {
  padding: 15px;
}

.action {
  margin: 1rem;
  text-align: right;
}
