@import-normalize;

html {
  height: 100%;
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100%;
}
